*{
    margin: 0;
    padding: 0;
    }

    .navigation{
        width:100% calc(22px);
        background-color: black;
        height: 100px;
         color:white;
         display: flex;
         flex-direction: row;
         padding: 20px;
         justify-content: space-between;
    }
    .logo{
    margin-top:-30px;
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        padding: 20px;
        float:right;
        font-weight: bold;
     
    }
    .menu ul li{
        padding: 18px ;
        list-style: none;
    }
    .menu ul li a {
        text-decoration: none;
        color: black;
        padding: 10px;
        
    }
    .menu ul :hover{
        background-color:black; 
        color: white;
        font-size: large;
        transition-property: all;
        transition-duration: 1s;
        cursor: pointer;
    
    }
    
    .botton{
        border-radius: 100px;
        border: solid white;
        margin-right: 22px;
        background-color:white;
    
    }
    .container{
        width: 100%;
        height: 2700px;
        
    }
    .first{
        width:100%;
        height:440px;
        display: flex;
        flex-direction: row;
    }
    .A{
        padding: 50px;
        padding-left: 88px;
        border:2px solid black;
        border-radius: 5%;
        height: 300px;
        margin-top: 30px;
        margin-left: 3px;
        width:250px;
        background-color: white;
        
    }
    .buy{
        margin-left: 45px;
        padding: 8px;
        width: 80px;
        border-radius: 11px;
        border: solid 2px black;
        font-weight: bold;
    }
    .buy:hover{
        background-color: black;
        color: white;
        font-size: larger;
        transition-property: all;
        transition-duration: 1s;
        cursor: pointer;
    }
    .A:hover{
        background-color: rgb(63, 42, 42);
        color: white;
        font-size: larger;
        transition-property: all;
        transition-duration: 1s;
        cursor: pointer;
    }
   .about{
    margin-top: 30px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 30px;
    margin-left: 705px;
    font-weight: bold;
   }
    
   .abt{
    margin-top: 80px;
    width: 100%;
    height: 800px;
   }
   .para{
    margin-left: 370px;
    width: 800px;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
   }
   .footer {
    margin-top: 0px;
    color: #FFF;
    background-color:rgb(0, 0, 0);
    height: 480px;
    font-family: 'Roboto', sans-serif;
}

.sector {
    width: 100%;
    height: 380px;
}

.ql, .sm, .cm, .go {
    display: block;
    float: left;
    width: 25%;
}

.ql-1, .sm-1, .cm-1, .go-1 {
    padding: 30px;
}

.go img {
    width: 75%;
    height: auto;
}

.footer ul {
    list-style: none;
}

.footer a {
    color: #FFF;
}

.footer a:hover {
    text-decoration: underline;
}

.sma {
    float: left;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 22px;
}

.qls {
    padding-top: 10px;
    padding-left: 120px;
    
}

.cm-1 p {
    padding-top: 20px;
}

.ending-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.img{

    width:98%;
    height:70%

}
.body{
    background-color: rgb(253, 240, 226);
}


    
    