header, footer{
    background-color:black;
    padding: 90px;
    height: 90px;
    color: white;
    border: 10px;
    border-color: black;
    text-align: center;
    font-size: 35px;
}
.content{
background-color: aqua;
padding: 90px;
height: 350px;
color: white;
text-align: center;
font-size: 40px;
flex: 3;
}
.side{
    background-color: rgb(142, 142, 231);
    padding: 90px;
    height: 350px;
    text-align: center;
    font-size: 40px;
    color: white;
    flex: 1;
}
main{
    display: flex;
}

  