*{
    margin: 0;
    padding: 0;
}
.container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);

}
#same{
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.header{
    height: 150px;
    grid-column: span 3;
}
.container1{
    grid-column: span 2;
    grid-row: span 2;
}
.container2{
    grid-row: span 2;
}
.footer{
    height: 150px;
    grid-column: span 3;
}